.logoutSection{
  display: flex;
  justify-content: flex-end;
  padding:1rem;
}

.logoutSection span{
  margin: 0 1rem;
}

@media screen and (min-width: 45rem) {
  .logoutSection span{
    margin: 0 3rem;
  }
  
}